*.exe
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.blend[0-9]
*.flamenco.blend
.env
*.DS_Store

/flamenco-manager
/flamenco-worker
/flamenco-manager_race
/flamenco-worker_race
/shaman-checkout-id-setter
/stresser
/stresser.csv
/job-creator
/mage
/addon-packer
flamenco-manager.yaml
flamenco-worker.yaml
flamenco-worker-credentials.yaml
node_modules/
/vendor/

# Mockgen creates those files temporarily, and they can linger when it
# fails to run properly. They should never be committed to Git.
gomock_reflect_*

# Directory for custom job compiler scripts:
/scripts/

# Default storage locations:
/flamenco-manager-storage/
/flamenco-shared-storage/

# Old default storage locations:
/task-logs/
/flamenco-storage/

__pycache__
*.pyc
.mypy_cache/
.openapi-generator/
.hugo_build.lock
.openapi-generator-*.log

web/manager-api/dist/
web/static/
web/project-website/public/
web/project-website/resources/_gen/
/dist/
/tools/
